{% extends "base.html" %}

{% block main %}

<div id="fullpage">

<div id="Profile_card_Top">
    <div class="topProfileCard_container">
        <img src={{userdata["profile_url"]}} alt="" class="mypicture"/>
    </div>
    <div class="topProfileCard_container" >
        <span class="fullname"> {{userdata["Fullname"]}} </span>
    </div>
    <div class="topProfileCard_container">
        <span class="username"> @{{userdata["userName"]}} </span>
    </div>
    <div class="topProfileCard_container">
        <span class="location"> {{ userdata["location"]}} </span>
    </div>
    <div class="topProfileCard_container">
        <span class="joinedDate"> {{userdata["dayJoined"]}} </span>
    </div>
</div>
<div id="Profile_card_Bottom">

    <div class="bottomProfileCard_container">
        <span class="biography">{{userdata["Biography"] }} </span>
    </div>
    <div class="bottomProfileCard_container">
     <div class="row">
        <div class="col">
                 <span id="posts"> {{ userdata["Posts_made"] }}</span>
                 <label class="bottom_label" for="posts"> Posts </label>
        </div>
         <div class="col">
                 <span id="following"> {{userdata["Persons_following"] }}</span>
                 <label class="bottom_label" for="following"> Following </label>
        </div>
        <div class="col">
                <span id="followers"> {{ userdata["Followers"] }} </span>
                <label class="bottom_label" for="followers"> Followers </label>
        </div>
     </div>
    </div>
         <div class="bottomProfileCard_container">
             <label id="follow_button"> Follow </label>
         </div>
     </div>
</div>

{% endblock %}